In [3]:
from collections import namedtuple

In [11]:
City = namedtuple('City', 'name country population coordinates climate')

In [13]:
tokyo = City('Tokyo', 'Japan', 36.99, (35.2, 139.0), 'temperate')

In [14]:
tokyo

City(name='Tokyo', country='Japan', population=36.99, coordinates=(35.2, 139.0), climate='temperate')

In [15]:
lima = City('lima', 'Peru', 22.5, (45.3, 14.1), 'hot')

In [16]:
lima

City(name='lima', country='Peru', population=22.5, coordinates=(45.3, 14.1), climate='hot')

In [17]:
lima._fields

('name', 'country', 'population', 'coordinates', 'climate')

In [18]:
new_delhi = ('delhi', 'India', 70, (56,22), 'equatorial')

In [19]:
delhi = City._make(new_delhi)

In [20]:
delhi

City(name='delhi', country='India', population=70, coordinates=(56, 22), climate='equatorial')

In [22]:
delhi._asdict()

OrderedDict([('name', 'delhi'),
             ('country', 'India'),
             ('population', 70),
             ('coordinates', (56, 22)),
             ('climate', 'equatorial')])

In [9]:
dir(lima)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_fields',
 '_make',
 '_replace',
 '_source',
 'coordinates',
 'count',
 'country',
 'index',
 'name',
 'population']

&nbsp;

### slice ids

In [2]:
l = [1,2,5,0,8,3,5,7]
id(l)

1401600716104

In [3]:
l_1 = l[4:]
l_1

[8, 3, 5, 7]

In [4]:
id(l_1)

1401601140104

In [6]:
l_1 = l[4:].copy()

In [7]:
id(l_1)

1401601082120

&nbsp;

### list.sort and sorted methods

In [22]:
str_ = ['string', 'Blender', 'slo', 'MARTIN', 'stacia']
str_1 = ['string', 'Blender', 'slo', 'MARTIN', 'stacia']

In [23]:
str_.sort()

In [24]:
str_

['Blender', 'MARTIN', 'slo', 'stacia', 'string']

In [25]:
str_.append('michael')

In [26]:
str_

['Blender', 'MARTIN', 'slo', 'stacia', 'string', 'michael']

In [37]:
sorted(str_1)

['Blender', 'MARTIN', 'slo', 'stacia', 'string']

In [40]:
import dis

In [42]:
dis.dis("sorted(str_1).append('michael')")

  1           0 LOAD_NAME                0 (sorted)
              2 LOAD_NAME                1 (str_1)
              4 CALL_FUNCTION            1
              6 LOAD_ATTR                2 (append)
              8 LOAD_CONST               0 ('michael')
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

instance methods that return a None object cannot be cascaded.

&nbsp;

bisect and insort

In [39]:
from bisect import bisect, insort
import random

In [56]:
a = [random.randint(1,1000)]
for i in range(30):
    int_ = random.randint(1,100)
    index = bisect(a, int_)
    insort(a, int_)
    print(index, '{}'.format(a))

0 [9, 37]
2 [9, 37, 96]
2 [9, 37, 74, 96]
1 [9, 9, 37, 74, 96]
3 [9, 9, 37, 52, 74, 96]
3 [9, 9, 37, 48, 52, 74, 96]
0 [6, 9, 9, 37, 48, 52, 74, 96]
5 [6, 9, 9, 37, 48, 51, 52, 74, 96]
8 [6, 9, 9, 37, 48, 51, 52, 74, 85, 96]
0 [5, 6, 9, 9, 37, 48, 51, 52, 74, 85, 96]
4 [5, 6, 9, 9, 11, 37, 48, 51, 52, 74, 85, 96]
5 [5, 6, 9, 9, 11, 33, 37, 48, 51, 52, 74, 85, 96]
6 [5, 6, 9, 9, 11, 33, 36, 37, 48, 51, 52, 74, 85, 96]
11 [5, 6, 9, 9, 11, 33, 36, 37, 48, 51, 52, 60, 74, 85, 96]
13 [5, 6, 9, 9, 11, 33, 36, 37, 48, 51, 52, 60, 74, 75, 85, 96]
10 [5, 6, 9, 9, 11, 33, 36, 37, 48, 51, 51, 52, 60, 74, 75, 85, 96]
13 [5, 6, 9, 9, 11, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 96]
5 [5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 96]
1 [5, 5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 96]
19 [5, 5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 95, 96]
0 [1, 5, 5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 95, 96]
22 [1, 5, 5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 73, 74, 75, 85, 95, 96, 97]
16 [1, 5, 5, 6, 9, 9, 11, 22, 33, 36, 37, 48, 51, 51, 52, 60, 66, 73, 74, 75, 85, 95, 96, 97]
7 [1, 5, 5, 6, 9, 9, 11, 16, 22, 33, 36, 37, 48, 51, 51, 52, 60, 66, 73, 74, 75, 85, 95, 96, 97]
8 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 33, 36, 37, 48, 51, 51, 52, 60, 66, 73, 74, 75, 85, 95, 96, 97]
13 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 33, 36, 37, 46, 48, 51, 51, 52, 60, 66, 73, 74, 75, 85, 95, 96, 97]
18 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 33, 36, 37, 46, 48, 51, 51, 52, 53, 60, 66, 73, 74, 75, 85, 95, 96, 97]
10 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 31, 33, 36, 37, 46, 48, 51, 51, 52, 53, 60, 66, 73, 74, 75, 85, 95, 96, 97]
16 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 31, 33, 36, 37, 46, 48, 48, 51, 51, 52, 53, 60, 66, 73, 74, 75, 85, 95, 96, 97]
10 [1, 5, 5, 6, 9, 9, 11, 16, 21, 22, 26, 31, 33, 36, 37, 46, 48, 48, 51, 51, 52, 53, 60, 66, 73, 74, 75, 85, 95, 96, 97]

In [51]:
a = [random.randint(1,1000)]

In [52]:
a

[512]

In [33]:
insort(a,13)

In [34]:
a

[1, 2, 3, 5, 6, 9, 10, 13, 14, 14, 77]